@{
    ViewData["Title"] = "Projects";
}
<h1 class="mb-4">Projects</h1>

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">BugTrackerWithLayout</h5>
                <p class="card-text">ASP.NET MVC, EF, SQL Server. Hata takip ve yönetim portalı.</p>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary" href="https://github.com/aysenurkucuk45/BugTrackerWithLayout" target="_blank">GitHub</a>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Afet Koordinasyon</h5>
                <p class="card-text">Afet yardım koordinasyonu için web portalı.</p>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary" href="#" target="_blank">GitHub</a>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Portfolio.Web</h5>
                <p class="card-text">Bu portfolyo sitesi (ASP.NET Core MVC).</p>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary" href="https://github.com/aysenurkucuk45/PortfolioProject" target="_blank">Repo</a>
            </div>
        </div>
    </div>
</div>
