@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "Contact";
}
<h1>Contact</h1>
<p>
    <a href="mailto:aysenurkucuk74@gmail.com">aysenurkucuk74@gmail.com</a><br />
    <a href="https://github.com/aysenurkucuk45" target="_blank">GitHub</a> ·
    <a href="https://www.linkedin.com/in/aysenurkucuk45/" target="_blank">LinkedIn</a>
</p>
